<% breadcrumb :profiles_my_posts %>
<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="card-deck row d-flex justify-content-evenly">
      <h1 class="text-center my-5"><%= t('.title') %></h1>
      <% current_age_group = nil %>
      <% @my_posts.each do |post| %>
        <% if current_age_group != post.age_group %>
          <% current_age_group = post.age_group %>
          <h2 class="text-center my-5"><%= post.age_group_i18n %>時代</h2>
        <% end %>
        <%= render partial: 'post', locals: { post: post } %>
      <% end %>
      <% if @my_posts.blank? %>
        <div class="text-center m-5"><%= t('defaults.messages.no_posts') %></div>
      <% end %>
    </div>
    <div class="mt-5">
      <%= paginate @my_posts, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>