<% breadcrumb :profiles %>
<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row d-flex justify-content-evenly pb-4">
    <div class="card p-3 col-12 col-md-10 text-center col-lg-4 mt-4">
      <div>
        <%= image_tag @user.avatar_url, size: '150x150', class: 'rounded-circle mr15 d-block mb-5 mx-auto' %>
      </div>
      <div>
        <div class="m-3"><%= @user.name %></div>
        <div class="m-3"><%= @user.email %></div>
        <div class="m-3"><%= @user.profile if !@user.profile.nil? %></div>
        <div class="m-3"><%= @user.birthday.strftime("%Y/%m") if !@user.birthday.nil? %></div>
        <div class="m-3"><%= @user.prefecture.name if !@user.prefecture.nil? %></div>
        <div class="m-3">
          <% if !@user.x_id.blank? %>
            <i class="fa-brands fa-x-twitter"></i>
            <%= link_to @user.x_id, "https://mobile.twitter.com/#{@user.x_id}", target: :_blank, rel: "noopener noreferrer" %>
          <% end %>
        </div>
        <div class="m-3"><%= @user.gender_i18n unless @user.gender.nil? %></div>
        <div class="m-3"><%= l @user.created_at, format: :ymd %></div>
      </div>
      <div id="js-follow-button-<%= @user.id %>">
        <%= render 'relationships/follow', user: @user %>
      </div>
      <div class="m-3">
        <% if @my_user_room.present? %>
          <%= link_to t('.room_index'), rooms_path %>
        <% else %>
          <p><%= t('.no_room') %></p>
        <% end %>
      </div>
      <div>
        <%= link_to t('profiles.edit.title'), edit_profile_path, class:"btn btn-orange" %>
      </div>
    </div>
    <div class="mt-4 col-12 text-center col-lg-6 offset-lg-1 bg-orange text-white">
      <div>
        <%= link_to t('.like_posts'), likes_profile_path, class:"btn btn-orange container-fluid" %>
        <div class="card mb-5">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= Post.human_attribute_name(:music_name) %></th>
                <th><%= t('defaults.contributor') %></th>
              </tr>
            </thead>
            <%= render partial: 'simple_post', collection: @like_posts %>
          </table>
        </div>
      </div>
      <div>
        <%= link_to t('.my_posts'), my_posts_profile_path, class:"btn btn-orange container-fluid" %>
        <div class="card mb-5">
          <table class="table table-striped">
            <thead>
              <th><%= Post.human_attribute_name(:music_name) %></th>
              <th><%= Post.human_attribute_name(:memory) %></th>
              <th><%= t('defaults.age_group') %></th>
            </thead>
            <%= render partial: 'simple_post', collection: @my_posts %>
          </table>
        </div>
      </div>

      <div>
        <%= link_to "> おすすめの投稿", recommend_posts_profile_path, class:"btn btn-orange container-fluid" %>
        <div class="card">
          <table class="table table-striped">
            <thead>
              <th><%= Post.human_attribute_name(:music_name) %></th>
              <th><%= Post.human_attribute_name(:memory) %></th>
            </thead>
            <%= render partial: 'simple_post', collection: @recommend_follow_posts %>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>