<% breadcrumb :notifications_already_read %>
<% content_for(:title, t('.title')) %>
<div class="row">
  <h1 class="p-2 col-4 lh-base"><%= t('.title') %></h1>
  <button class="col-3 offset-2 btn btn-light">
    <%= link_to t('.new_notification_index'), notifications_path %>
  </button>
  <button class="col-3 btn btn-light">
    <%= link_to t('.destroy_already_read'), delete_read_notifications_path, method: :delete %>
  </button>
</div>
<div>
  <% if @notifications.present? %>
    <%= render @notifications %>
  <% else %>
    <p><%= t('defaults.messages.no_notification') %></p>
  <% end %>
</div>