<% breadcrumb :notifications_already_read %>
<% content_for(:title, t('.title')) %>
<div class="container mt-4">
  <h1 class="p-2 col-12 lh-base"><%= t('.title') %></h1>
  <div class="row mb-4 justify-content-start">
    <div class="col-auto">
      <%= link_to t('.new_notification_index'), notifications_path, class: "btn btn-orange text-white btn-block" %>
    </div>
    <div class="col-auto">
      <%= link_to t('.destroy_already_read'), delete_read_notifications_path, method: :delete, class: "btn btn-orange text-white btn-block" %>
    </div>
  </div>

  <div>
    <% if @notifications.present? %>
      <%= render @notifications %>
    <% else %>
      <p><%= t('defaults.messages.no_notification') %></p>
    <% end %>
  </div>
</div>