<div class="card m-3 col-4">
  <table>
    <tr>
      <td>ID</td>
      <td><%= user.id %></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:name) %></td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:created_at) %></td>
      <td><%= l user.created_at, format: :short %></td>
    </tr>
    <% if current_user.id == user.id %>
      <tr>
        <td>User</td>
        <td>current_user</td>
      </tr>
    <% end %>
  </table>
</div>