<div class="card my-2 p-3 col-6 offset-col-3 chat-message <%= chat.user == current_user ? 'own-message' : 'other-message' %>" data-user-id="<%= chat.user_id %>">
  <div style="width: 60px" class="d-flex align-items-center">
    <%= image_tag chat.user.avatar_url, size: '30x30', class: 'rounded-circle mr-2' %>
    <span style="font-size: 18px;"><%= chat.user.name %></span>
  </div>
  <div>
    <%= chat.message %>
  </div>
</div>