<% breadcrumb :rooms_index %>
<% content_for(:title, t('.title')) %>
<h2 class="mt-3 mb-3"><%= t('.title') %></h2>
<% if @another_user_rooms.present? %>
  <% @another_user_rooms.each do |au| %>
    <table class="table table-striped">
      <tr>
        <td>
          <%= link_to room_path(au.room.id) do %>
            <%= image_tag au.user.avatar_url, class: "rounded-circle", size: "30x30" %>
            <%= au.user.name %>
          <% end %>
        </td>
        <td>
          <% chat = Chat.find_by(id: au.room.chats.ids.last) %>
          <% if chat.present? %>
            <%= truncate(chat.message, length: 10) %>
          <% end %>
        </td>
        <td>
            <h6 style="color: #C0C0C0;"><%= au.updated_at.strftime("%Y/%m/%d %H:%M") %></h6>
        </td>
        <td>
          <%= link_to room_path(au.room.id), method: :delete do %>
            <i class="fas fa-trash" style="color: black;"></i>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>