<div class="card p-3">
  <table>
    <div><%= link_to post.music_name, post_path(post), class: "fs-2" %></div>
    <tr>
      <td><%= Post.human_attribute_name(:memory) %></td>
      <td><%= post.memory %></td>
    </tr>
    <tr>
      <td><%= t('defaults.contributor') %></td>
      <td><%= post.user.name %></td>
    </tr>
  </table>
  <%= render 'crud_menu', post: post %>
</div>