<div class="card content-card border-left col-sm-12 col-lg-10 position-relative m-1">
  <div class="m-2 text-center">
    <%= link_to post.music_name, post_path(post), class: "fs-3" %>
  </div>
  <div class="card-body">
    <div>
      <%= "#{t('defaults.contributor')}: " %><%= link_to post.user.name, user_path(post.user) %>
    </div>
    <div class="d-flex mt-2">
      <% if post.age_group.present? %>
        <%= search_form_for @q, url: search_posts_path, html: { class: 'me-2' } do |f| %>
          <%= f.hidden_field :age_group_eq, value: post.age_group_before_type_cast %>
          <%= f.submit post.age_group_i18n, class: 'btn btn-orange btn-sm rounded-pill' %>
        <% end %>
      <% end %>
      
      <% if post.prefecture.present? %>
        <%= search_form_for @q, url: prefecture_path(post.prefecture_id), html: { class: 'me-2' } do |f| %>
          <%= f.hidden_field :prefecture_id_eq, value: post.prefecture_id %>
          <%= f.submit post.prefecture.name, class: 'btn btn-orange btn-sm rounded-pill' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="position-absolute bottom-0 end-0">
    <%= render 'posts/crud_menu', post: post %>
  </div>
</div>