<% breadcrumb :posts %>
<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row justify-content-center">
    <h1 class="mt-5 mb-5 text-center"><%= t('.title') %></h1>
    <div class="col-10">
      <% if params[:q].present? %>
        <h2>検索結果:</h2>
        <h3>
          <%= display_conditions([
            condition("曲名", @q.music_name_cont),
            condition("投稿者", @q.user_name_cont),
            condition("地域", Prefecture.find_by(id: @q.prefecture_id_eq)&.name),
            condition("時代", display_age_group_label)
          ]) %>
          <%= "( #{@all_posts.count}件 )" %>
        </h3>
      <% else %>
        <h2>投稿件数: <%= @all_posts.count %>件</h2>
      <% end %>
    </div>
    <% @prefectures.each do |prefecture| %>
      <input type="hidden" class="<%= @counts["#{prefecture.id - 1}".to_i] %>" id="prefecture_<%= prefecture.id %>" value="<%= prefecture.name %>">
    <% end %>
    <div id="jmap" class="col-lg-6 col-md-10 col-sm-10 offset-lg col-lg-5 col-md-10 mx-auto"></div>
    <div class="card-deck row d-flex justify-content-evenly col-lg-5 col-md-10 col-sm-10 ">
      <% if @posts.present? %>
        <%= render @posts %>
      <% else %>
        <div class="text-center m-5"><%= t('defaults.messages.no_posts') %></div>
      <% end %>
    </div>
    <div class="mt-5">
      <%= paginate @posts, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<%= javascript_import_module_tag "posts/index" %>
<%= javascript_import_module_tag 'jmap' %>