<% content_for(:title, t('.title')) %>
<div class="form-signin m-auto col-6 offset-3">
  <h1 class="text-center m-4"><%= t('defaults.login') %></h1>  
  <%= form_with url: login_path, method: :post, local: true do |f| %>
    <div class="mb-3">
      <%= f.label :email, User.human_attribute_name(:email) %><br/>
      <%= f.text_field :email, class: "form-control", placeholder: "name@example.com" %>
    </div>
    <div class="mb-3">
      <%= f.label :password, User.human_attribute_name(:password) %><br/>
      <%= f.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
    <div class="mb-3 text-center mt-4">
      <%= f.submit t('.submit'), class:"btn btn-orange w-50" %>
    </div>
  <% end %>
  <div class="text-center">
    <%= link_to t('.to_signup_page'), signup_path %>
  </div>
</div>